.main-content__title {
	font-family: Roboto;
}

*{
	border: dashed 1px red;
} 

body {
	margin: 0;
}

.wrapper {
	margin:auto;
	width: 80%;
}

.header {
	display: flex;
	justify-content: space-between;
}

.logo {
	padding: 40px 0;
}

.navigation__item {
	padding: 13px 0;
}

.navigation__item:last-child {
	padding-right:0;
}